body {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;  
}
header {
  background-color: green;
  height: 54px;
  margin: 0px;
}


h2 {
  margin: 2px;
  color:green;
  font-size: 18px;
  text-align: center;
}

div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;


}

